//--
  - Global site layout
  - Applied to all pages and posts.
  ==================================================

extends site

//--
  - Yielded block:
  - From site.jade
  ==================================================

block siteBody
  
  each $panel in entry.panels
    
    //--
      - Quote panel
      ==================================================
    
    if $panel.sys.contentType.sys.id === "panelQuote"

      
      //--
        - 1. Background colour
        - 2. Wide or narrow width
        - 3. fields (IMPORTANT: see panel mixin for explanation)
        --
      +panel( false,
              "narrow",
              $panel.fields,
              "content" )

        block panelContent
          +lgQuote( $panel.fields )

    //--
      - Icons panel
      ==================================================

    if $panel.sys.contentType.sys.id === "panelIcons"
      
      +panel( "brand",
              "wide",
              $panel.fields,
              "content" )

        block panelContent
          each $icon in $panel.fields.icons
            +icon( $icon.fields )

    //--
      - Testimonials carousel
      ==================================================
    
    if $panel.sys.contentType.sys.id === "panelTestimonials"
      +panelCarousel( $panel.fields,
                      $panel.fields.alumni )
        
        //--
          - Header:
          - See the panel carousel mixin for an explanation of
          - the $headerFields variable.
          --
        block panelHeader
          +panelHeader( $headerFields.titleIcon,
                        $headerFields.title,
                        $headerFields.byline )

        //--
          - Carousel item:
          - $item variable passed in from panelCarousel mixin.
          --
        block panelCarouselItem
          +testimonial( $item.fields.longQuote,
                        $item.fields.name,
                        $item.fields.university,
                        $item.fields.semester,
                        $item.fields.photo.fields.file.url,
                        $item.fields.photo.fields.description,
                        $item.fields.biog )

