//--
  - Global site layout
  - Applied to all pages and posts.
  ==================================================

extends site

//--
  - Yielded block:
  - From site.jade
  ==================================================

block site_body
  
  each $panel in entry.panels
    
    //-- Quote panel --
    if $panel.sys.contentType.sys.id === "panelQuote"
      +panelQuote( $panel.fields.quote,
                   $panel.fields.alumnus.fields.name,
                   $panel.fields.alumnus.fields.university,
                   $panel.fields.alumnus.fields.semester,
                   $panel.fields.alumnus.fields.photo.fields.file.url,
                   $panel.fields.alumnus.fields.photo.fields.description )

    //-- Icons panel --
    if $panel.sys.contentType.sys.id === "panelIcons"
      
      //-- Content --
      +panelIcons( $panel.fields.icons,
                   $panel.fields.titleIcon,
                   $panel.fields.title,
                   $panel.fields.byline )
    
    //-- Testimonials panel --
    if $panel.sys.contentType.sys.id === "panelTestimonials"
      .Carousel

        //-- Header --
        +panelHeader( $panel.fields.titleIcon,
                      $panel.fields.title,
                      $panel.fields.byline )

        //-- Testimonials --
        each $testimonial in $panel.fields.alumni
          .Carousel-item
            +testimonial( $testimonial.fields.longQuote,
                          $testimonial.fields.name,
                          $testimonial.fields.university,
                          $testimonial.fields.semester,
                          $testimonial.fields.photo.fields.file.url,
                          $testimonial.fields.photo.fields.description,
                          $testimonial.fields.biog )

