//--
  - Global site layout
  - Applied to all pages and posts.
  ==================================================

extends site

//--
  - Yielded block:
  - From site.jade
  ==================================================

block site_body
  
  each $panel in entry.panels
    
    .Panel( class= $panel.sys.contentType.sys.id === "panelIcons" ?
                   "Panel--brand" :
                   nul )
      .Panel-content

        //-- Title and byline (all panels except icons panel) --
        if $panel.sys.contentType.sys.id !== "panelQuote"
          h2.Panel-contentTitle
            span.InlineIcon( class= "InlineIcon--" + $panel.fields.titleIcon )
            span= $panel.fields.title
          p.Panel-contentByline= $panel.fields.byline
        
        //-- Quote panel --
        if $panel.sys.contentType.sys.id === "panelQuote"
          +panelQuote( $panel.fields.quote,
                       $panel.fields.alumnus.fields.name,
                       $panel.fields.alumnus.fields.university,
                       $panel.fields.alumnus.fields.semester,
                       $panel.fields.alumnus.fields.photo.fields.file.url,
                       $panel.fields.alumnus.fields.photo.fields.description )

        //-- Icons panel --
        if $panel.sys.contentType.sys.id === "panelIcons"
          +panelIcons( $panel.fields.icons )