//--
  - Global site layout
  - Applied to all pages and posts.
  ==================================================

extends site

//--
  - Yielded block:
  - From site.jade
  ==================================================

block siteBody
  
  each $panel in entry.panels
    
    //--
      - Quote panel
      ==================================================
    
    if $panel.sys.contentType.sys.id === "panelQuote"

      
      //--
        - 1. Background colour (brand, canvas, contrast or default ie. null)
        - 2. Wide or narrow width
        - 3. Contentful fields (IMPORTANT: see panel mixin for explanation)
        - 4. Carousel object array (Contentful fields or null)
        --
      +panel( null,
              "narrow",
              $panel.fields,
              "content",
              null )

        +lgQuote( $panel.fields )

    //--
      - Icons panel
      ==================================================

    if $panel.sys.contentType.sys.id === "panelIcons"
      
      +panel( "brand",
              "wide",
              $panel.fields,
              "content",
              null )

        each $icon in $panel.fields.icons
          +icon( $icon.fields )

    
    //--
      - Testimonials carousel
      ==================================================

    if $panel.sys.contentType.sys.id === "panelTestimonials"

      +panel( "contrast",
              "wide",
              $panel.fields,
              "carousel",
              $panel.fields.alumni )

        block carouselItems
          +testimonial( $item.fields )

    //--
      - Testimonials carousel
      ==================================================

    if $panel.sys.contentType.sys.id === "panelPosts"

      +panel( "canvas",
              "narrow",
              $panel.fields,
              "content",
              null )

        //-- Blog snippets --
        each $summary in contentful.post.slice( 0,2 )
          +summary( $summary )

        //-- Link to blog --
        a( href="/blog", title="Westminster Calling Blog" ) More from the blog >>