//--
  - Global site layout
  - Applied to all pages and posts.
  ==================================================

extends site

//--
  - Yielded block:
  - From site.jade
  ==================================================

block siteBody
  
  each $section in entry.sections

    if $section.sys.contentType.sys.id.indexOf( "panel" ) > -1

      +panel2( $section )
    
    //--
      - Blocks
      ==================================================
    
    if $section.sys.contentType.sys.id === "block"

      +block( $section.fields )
