//--
  - Global site layout
  - Applied to all pages and posts.
  ==================================================

extends site

//--
  - Yielded block:
  - From site.jade
  ==================================================

block site_body
  
  each $panel in entry.panels
    
    //-- Quote panel --
    if $panel.sys.contentType.sys.id === "panelQuote"
      //- +panelQuote( $panel.fields.quote,
      //-              $panel.fields.alumnus.fields.name,
      //-              $panel.fields.alumnus.fields.university,
      //-              $panel.fields.alumnus.fields.semester,
      //-              $panel.fields.alumnus.fields.photo.fields.file.url,
      //-              $panel.fields.alumnus.fields.photo.fields.description )

    //-- Icons panel --
    if $panel.sys.contentType.sys.id === "panelIcons"
      
      +panel( "brand", "wide", $panel.fields.icons )

        block panelContent
          
          +icon( $item.fields.image.fields.file.url,
                 $item.fields.image.fields.description,
                 $item.fields.title,
                 $item.fields.byline )

      
          //--
            - Header:
            - See the panel carousel mixin for an explanation of
            - the $headerFields variable.
            --
          //- block panelHeader
          //-   +panelHeader( $headerFields.titleIcon,
          //-                 $headerFields.title,
          //-                 $headerFields.byline )

    //-- Testimonials carousel --
    if $panel.sys.contentType.sys.id === "panelTestimonials"
      +panelCarousel( $panel.fields,
                      $panel.fields.alumni )
        
        //--
          - Header:
          - See the panel carousel mixin for an explanation of
          - the $headerFields variable.
          --
        block panelHeader
          +panelHeader( $headerFields.titleIcon,
                        $headerFields.title,
                        $headerFields.byline )

        //--
          - Carousel item:
          - $item variable passed in from panelCarousel mixin.
          --
        block panelCarouselItem
          +testimonial( $item.fields.longQuote,
                        $item.fields.name,
                        $item.fields.university,
                        $item.fields.semester,
                        $item.fields.photo.fields.file.url,
                        $item.fields.photo.fields.description,
                        $item.fields.biog )

