//--
  - Global site layout
  - Applied to all pages and posts.
  ==================================================

extends site

//--
  - Yielded block:
  - From site.jade
  ==================================================

block siteBody
  
  .Post

    //-- Content --
    .Post-content
      
      //-- Body --
      .Post-contentBody
        != markdown( entry.content )

      //-- Aside --
      .Post-contentAside
    
        //-- Author --
        +author( entry.author.fields )

      //-- Footer --
      .Post-contentFooter
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
