//--
  - Global site layout
  - Applied to all pages and posts.
  ==================================================

extends site

//--
  - Yielded block:
  - From site.jade
  ==================================================

block siteBody
  
  .Post

    //-- Content --
    .Post-content
      
      //-- Body --
      .Post-contentBody
        != markdown( entry.content )

      //-- Aside --
      .Post-contentAside
    
        //-- Author --
        +author( entry.author.fields )

      //-- Footer --
      .Post-contentFooter
        
        h2.Post-contentFooterTitle More

        //-- Blog snippets --
        each $snippet in contentful.post.slice( 0,2 )
          
          //--
            - Only display post snippets that aren't
            - the entry post (identified by URL)
            --
          if $snippet._url !== entry._url
            +snippet( $snippet )