/* Box model
========================================================================== */

.u-marginTop
  margin-top 1em
.u-marginTopX2
  margin-top 2em
.u-MarginAuto
  margin 0 auto

/* Flexbox
========================================================================== */

.u-FlexRowWrap
.u-flexRowNowrap
.u-flexColumn
  display flex
.u-FlexRowWrap
  flex-flow row wrap
.u-flexRowNowrap
  flex-flow row nowrap
.u-flexColumn
  flex-flow column

/* Containers
========================================================================== */

.u-container
.u-Container
.u-Panel  
  position relative
  
  padding 3rem 1rem
  +above( md )
    padding 4rem 1rem
    
  background-color canvas
  
  &--brand
    background-color brand
    color canvas

  &-content
    @extend .u-MarginAuto

    &--wide
      max-width 80rem
    &--narrow
      max-width 40rem
  
/* Positioning
========================================================================== */

.u-CenterY
.u-CenterX
.u-CenterXY
  position absolute  
.u-CenterY
  top 50%
  transform translateY( -50% )
.u-CenterX
  left 50%
  transform translateX( -50% )
.u-CenterXY
  top 50%
  left 50%
  transform translate( -50%,-50% )