/* Box model
========================================================================== */

/* Margins */
.l-MarginTop
  margin-top 1em
.l-MarginTopX2
  margin-top 2em
.l-MarginAuto
  margin 0 auto
.l-MarginBottomFlow
  margin-bottom 1.125em
  
/* Borders */
.l-BorderRadius2px
  border-radius 2px
.l-BorderRadius50pc
  border-radius 50%
  
/* Overflow */
.l-OverflowHidden
  overflow hidden

/* Flexbox
========================================================================== */

.l-FlexRowWrap
.l-FlexRowNowrap
.l-FlexColumn
  display flex
.l-FlexRowWrap
  flex-flow row wrap
.l-FlexRowNowrap
  flex-flow row nowrap
.l-FlexColumn
  flex-flow column

/* Containers
========================================================================== */

.l-Container
  position relative
  
  padding 4rem 1rem
  
  +above( md )
    padding 4rem 2rem

  &-content
    @extend .l-MarginAuto

    &--narrow
      max-width 45rem
    &--moderate
      max-width 65rem
    &--wide
      max-width 75rem

/* Row
========================================================================== */

.l-Row
  @extend .l-FlexRowWrap
  
  align-items flex-start
  
  &-main
    +above( lg )
      flex 3
      margin-right 2rem
      
      max-width calc(60% - 2rem)
  
  &-aside
    @extend .l-MarginTop
        
    +above( lg )
      flex 2
      margin-top 0
        
/* Positioning
========================================================================== */

/* Centre hack */
.l-CenterY
.l-CenterX
.l-CenterXY
  position absolute  
.l-CenterY
  top 50%
  transform translateY( -50% )
.l-CenterX
  left 50%
  transform translateX( -50% )
.l-CenterXY
  top 50%
  left 50%
  transform translate( -50%,-50% )

/* Absolute */  
.l-PosAbsTL
.l-PosAbsBL
.l-PosAbsBR
  position absolute
.l-PosAbsBL
.l-PosAbsTL
  left 0
.l-PosAbsBR
  right 0
.l-PosAbsBL
.l-PosAbsBR
  bottom 0
.l-PosAbsTL
  top 0
  
/* Relative */
.l-PosRel
  position relative

/* Offscreen
========================================================================== */

.l-Offscreen
  position absolute !important
  clip rect( 1px,1px,1px,1px )
  padding 0 !important
  border 0 !important
  height 0 !important
  width 0 !important
  overflow hidden