/* Shared
========================================================================== */

/* Flexbox
========================================================================== */

.u-flexRowWrap
.u-flexRowNowrap
.u-flexColumn
  display flex
.u-flexRowWrap
  flex-flow row wrap
.u-flexRowNowrap
  flex-flow row nowrap
.u-flexColumn
  flex-flow column

/* Containers
========================================================================== */

.u-container
  position relative
  padding 3rem 1rem
  
/* Box model
========================================================================== */

.u-marginTop
  margin-top 1em

/* Positioning
========================================================================== */

.u-centerY
.u-centerX
.u-centerXY
  position absolute  
.u-centerY
  top 50%
  transform translateY( -50% )
.u-centerX
  left 50%
  transform translateX( -50% )
.u-centerXY
  top 50%
  left 50%
  transform translate( -50%,-50% )