/* Global
========================================================================== */
    
@charset "UTF-8"

html
  font-size 16px
  font-family font-body
  line-height 1.5
  
  text-rendering optimizeLegibility
  color copy
    
/* Base type
========================================================================== */

p
  word-spacing 0.005em

a
  font-weight inherit
    
strong
  font-weight 900

em
  font-style italic

