/*  Breakpoints
==========================================================================*/

rupture.enable-em-breakpoints = true
rupture.scale                 = 0 30em 50em 75em
rupture.scale-names           = 'sm' 'md' 'lg' 'xl'
rupture.anti-overlap          = true

/*  Fonts
========================================================================== */
    
/* Normal */
@font-face
  font-family "Avenir"
  src url("../fonts/AvenirLTStd-Light.otf")
  font-weight 300
@font-face
  font-family "Avenir"
  src url("../fonts/AvenirLTStd-LightOblique.otf")
  font-weight 300
  font-style italic

/* Medium */
@font-face
  font-family "Avenir"
  src url("../fonts/AvenirLTStd-Medium.otf")
  font-weight 600
@font-face
  font-family "Avenir"
  src url("../fonts/AvenirLTStd-MediumOblique.otf")
  font-weight 600
  font-style italic

/* Bold */
@font-face
  font-family "Avenir"
  src url("../fonts/AvenirLTStd-Heavy.otf")
  font-weight 700   
@font-face
  font-family "Avenir"
  src url("../fonts/AvenirLTStd-HeavyOblique.otf")
  font-weight 700
  font-style italic

font-body                     = "Avenir", sans-serif
font-display                  = "Merriweather", serif

/*  Font sizes
========================================================================== */

font-xs                       = .75rem
font-base                     = 1rem
font-sm                       = 1.125rem
font-md                       = 1.375rem
font-lg                       = 1.625rem
font-xl                       = 2rem
font-xxl                      = 3rem

/*  Colours
========================================================================== */

/* Base */
canvas                        = #fffffa
canvasOpaque                  = rgba( canvas,.6 )
copy                          = #1d252d
copyOpaque                    = rgba( copy,.6 )
muted                         = #d7d2cb
contrast                      = lighten( muted,60% )
default                       = darken( muted,12.5% )

/* Brand */
brand                         = #00685e
brandOpaque                   = rgba( brand,.6 )
accent                        = #f57300
accentOpaque                  = rgba( accent,.6 )

/* Strong */
blue                          = #236192
olive                         = #ac9f3c
mid-brown                     = #8f3237
dark-brown                    = #572932

/* Light */
light-brown                   = #ae8a79
light-green                   = #80967a
light-blue                    = #6ba4b8

/* Borders
========================================================================== */

shadow-copy                   = 0 1px 4px 0 rgba( 0,0,0,.37 )
shadow-brand                  = 0 1px 4px 0 darken( brandOpaque,50% )
shadow-accent                  = 0 1px 4px 0 darken( accentOpaque,50% )