.AppForm
  z-index 99999999
  position fixed
  width 95%
  height 95%
  left 2.5%
  top 2.5%
  box-shadow shadow-copy
  transform translateY( 120vh )
  transition transform .4s ease
  background-color canvas

  &.is-open
    transform translateY( 0 )

  &-close
    position absolute
    top 0
    right -1px
    width 2rem
    height 2rem
    background-color copy
    color canvas
    cursor pointer
    border-bottom-left-radius 2px
    z-index 999

    &::after
      @extend .ion-md-close:before
      @extend .l-CenterXY
