/* Shared
========================================================================== */

.Author-biog.is-closed
.Author-biog.is-closed::before
  height 12rem

/* Main
========================================================================== */

.Author
  @extend .u-FlexRowWrap
  @extend .u-BorderRadius2px
  
  position relative
  
  margin 0 -.5rem
  padding 1rem .5rem
  
  background-color muted
  box-shadow shadow-copy
  
  /* Meta */
  &-meta
    @extend .u-FlexColumn
    
    align-items center
    order 1
    width 100%
    
    &Img
      width 5rem
      height auto
      border-radius 50%
    
    &Actions
      @extend .u-MarginTop
    
  /* Biog */
  &-biog
    @extend .u-MarginTop
    
    order 2
    
    &.is-closed
      overflow hidden

      &::before
        @extend .u-PosAbsBL

        content ""
        
        display block
        
        width 100%
        height 12rem
        
        background-image linear-gradient( to top, canvas, rgba( canvas,0  ) )
        
    &Name
    &Role
      display block
      text-align center
    
    &Name
      font-size font-sm
    &Role
      font-size font-xs
      
    &About
      @extend .u-MarginTop
  
    &Expand
      @extend .u-CenterX
      @extend .u-BorderRadius2px
      
      bottom .5rem

      width 95%

      padding .5rem
      border 2px solid accent
      
      color accent
      font-weight 700
      text-align center