.Author
  @extend .u-FlexRowWrap
  @extend .u-BorderRadius2px
  
  position relative
  
  max-width 40rem

  margin 0 -.5rem
  padding 1rem .5rem
  
  background-color muted
  box-shadow shadow-copy

  +above( md )
    margin 0 auto
    padding 2rem 
      
  /* Meta */
  &-meta
    @extend .u-FlexColumn
    
    align-items center
    order 1
    width 100%
    
    &Img
      width 5rem
      height auto
      border-radius 50%
    
    &Actions
      @extend .u-MarginTop
    
  /* Biog */
  &-biog
    @extend .u-MarginTop
    
    order 2
    
    &.is-closed
    &.is-closed::before
      +below( md )
        height 12rem
    
    &.is-closed
      +below( md )
        overflow hidden

        &::before
          @extend .u-PosAbsBL

          content ""
          
          display block
          
          width 100%
          height 12rem
          
          background-image linear-gradient( to top, muted 14%, transparent )
        
    &Name
    &Role
      display block
      text-align center
    
    &Name
      font-size font-sm
    &Role
      font-size font-xs
      
    &About
      @extend .u-MarginTop
  
    &Expand
      @extend .u-CenterX
      @extend .u-BorderRadius2px
      
      bottom .5rem
      width calc( 100% - 1rem )

      padding .5rem
      border 2px solid brand
      
      color brand
      font-weight 700
      text-align center
      
      cursor pointer
      
      +above( md )
        display none
                