.Author
  @extend .l-FlexRowWrap
  @extend .l-BorderRadius2px
  
  position relative
  
  padding 1rem
  
  background-color muted
  
  overflow hidden

  /* Meta */
  &-meta
    @extend .l-FlexColumn
    
    align-items center
    order 1
    width 100%
    
    &Img
      width 5rem
      height auto
      border-radius 50%
    
    &Actions
      @extend .l-MarginTop
    
  /* Biog */
  &-biog
    @extend .l-MarginTop
    
    order 2
    
    &.is-closed
    &.is-closed::before
      height 10rem
    
    &.is-closed
        overflow hidden

        &::before
          @extend .l-PosAbsBL

          content ""
          
          display block
          
          width 100%
          height 10rem
          
          background-image linear-gradient( to top, muted 14%, transparent )
        
    &Name
    &Role
      display block
      text-align center
    
    &Name
      font-size font-sm
    &Role
      font-size font-xs
      
    &About
      @extend .l-MarginTop
      
      font-size font-xs

    &Expand
      @extend .l-CenterX
      @extend .l-BorderRadius2px
      
      bottom 1rem
      width calc( 100% - 2rem )

      padding .5rem
      border 2px solid brand
      
      color brand
      font-weight 700
      text-align center
      
      cursor pointer
      
      // +above( lg )
      //   display none
                