.Block
  @extend .l-PosRel
  
  /**
   * Prevents additional scroll-bar
   * when .Block-expand.is-hidden is transitioning.
   */
  overflow hidden
  
  /**
   * Increase z index of preceding block so box-shadow
   * isn't hidden behind the subsequent block.
   * Pull the subsequent block up -0.4rem to negate the
   * margin-bottom of .Block-expand (see below), used
   * to create additional space for box-shadow.
   */
  z-index 1
  + .Block
    margin-top -.4rem
    z-index 0
  
  &--hero
    min-height 80vh

  &-heroImg
    position absolute
    width 100%
    
    &::after
      content ""
      display block
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      background-image linear-gradient( to bottom, copyOpaque 33.33%, transparent);
    
  /* Header */
  &-header
    @extend .l-Container
    
    &Content
      @extend .l-Container-content
      @extend .l-Container-content--moderate
      @extend .l-Row
      
      &--light
        color canvas
        > h2
          color canvas
      
      > h2
        @extend .t-Title
        
        width 100%

      &Summary
        @extend .l-Row-main
        
        order 3
        
        +above( lg )
          order 2
        
        > p
          @extend .l-MarginTop
          @extend .t-Byline
          
          font-weight 600
          +above( md )
            font-weight 700
          
        &CTAs
          @extend .l-MarginTopX2
          
          &Toggle
            display inline-block
                    
      &Aside
        @extend .l-Row-aside
        @extend .l-BorderRadius2px
        
        background-color muted
        
        order 2
        
        +above( lg )
          order 3
        
  /* Expand */
  &-expand
    background-color canvas

    opacity 1
    transition transform .3s ease, opacity .3s ease

    /* Ensures top and bottom shadow */
    box-shadow 0 0 9px default, 0 0 9px default
    
    /* Additional space for box-shadow */
    margin-bottom .4rem

    /**
     * Pulls expand up towards 'show more' button.
     * Relates to header's padding and size of triangle. 
     */
    margin-top -1rem
    +above( md )
      margin-top -2rem
      
    &.is-hidden
      @extend .l-Offscreen
      
      position relative
      
      opacity 0
      
      transform translateY( 20rem )
      
    &Content
      @extend .l-PosRel
      
      &::before
        @extend .l-BorderRadius2px
        
        background-color canvas
        content ""
        position absolute
        left 1.5rem
        top -.9rem
        
        /* Square */
        width 2rem 
        height 2rem
        transform rotate( 135deg )
        box-shadow: -3px 3px 3px 0 rgba( default, .6 );        
        z-index 2
        
        +above( md )
          left 2.5rem

        +above( xl )
          
          /**
           * Calculation ensures triangle is always
           * below 'Show more' mutton on larger screens.
           * "(100% - 65rem) / 2": deduct moderate content
           * width from viewport width (taken as a percentage,
           * as vw doesn't seem to play well) and divide by 2 to
           * account for content margins.
           * "+ .5rem": brings triangle under 'x' in
           * 'Show more' button.
           */
          left calc( ( ( 100% - 65rem ) / 2 ) + .5rem )
          
    &Footer
      @extend .l-Container
      
      padding-top 1rem
      padding-bottom 1rem
      +above( md )
        padding-top 2rem
        padding-bottom 2rem

      border-top 1px solid muted
            
      &Content
        @extend .l-Container-content
        @extend .l-Container-content--moderate