.Block
  @extend .l-PosRel
  
  &-header
    @extend .l-Container
    
    &Content
      @extend .l-Container-content
      @extend .l-Container-content--wide
      @extend .l-FlexRowWrap
      
      &Main
        
        > h1
          @extend .t-Title
      
