.Btn
  @extend .u-FlexRowNowrap
  
  align-items center
  
  border-radius .2em
  background-image linear-gradient( to top, accent, lighten( accent, 3% ) )
    
  text-decoration none
  text-transform uppercase
  
  &-icon
  &-text
    color canvas
    text-align center

  &-icon
    flex 1
    font-size 1.5rem
    line-height 1

  &-text
    flex 5
    font-weight 900
    
    border-left 1px solid rgba( canvas, .33 )

  &--lg
    width 12rem

    > .Btn-icon
    > .Btn-text
      padding 1rem

  &--secondary
    background-image none
    border 2px solid accent
    
    > .Btn-icon
    > .Btn-text
      color accent

    > .Btn-text
      border-left 1px solid accent
      

/* Button icons
========================================================================== */

.Btn-icon

  &--apply::before
    @extend .ion-compose:before