.Btn
  @extend .l-FlexRowNowrap
  
  align-items center
  
  border-radius .2em
  background-image linear-gradient( to top, accent, lighten( accent, 3% ) )
    
  text-decoration none
  text-transform uppercase
  
  font-family font-body
  
  height inherit
  
  /* Button reset */
  border none
  padding 0
  margin 0
  
  &-icon
  &-text
    color canvas
    text-align center

  &-icon
    flex 1
    line-height 1

    border-right 1px solid rgba( canvas,.33 )

  &-text
    flex 5
    font-weight 700

  /* Small */
  &--sm
    min-width 8rem
    
    > .Btn-icon
      font-size 1rem
    > .Btn-text
      font-size .75rem

    > .Btn-icon
    > .Btn-text
      padding .25rem .5rem
      
  /* Medium */
  &--md
    min-width 10rem
    
    > .Btn-icon
      font-size 1rem
    > .Btn-text
      font-size .75rem

    > .Btn-icon
    > .Btn-text
      padding .5rem 1rem
        
  /* Large */
  &--lg
    min-width 12rem
    
    > .Btn-icon
      font-size 1.5rem
    > .Btn-text
      font-size 1rem

    > .Btn-icon
    > .Btn-text
      padding 1rem

  &--secondary
    background-image none
    border 2px solid accent
    
    > .Btn-icon
    > .Btn-text
      color accent

    > .Btn-icon
      border-right 1px solid accent
      

/* Button icons
========================================================================== */

.Btn-icon

  &--apply::before
    @extend .ion-compose:before
    
  &--showMore::before
    @extend .ion-plus-round:before