/* Shared
========================================================================== */

.Hero
    
  &-img
    > img
      width 100vw
  

/* Main
========================================================================== */