.Hero
  position relative
  
  width 100vw
  height 100vh
  
  overflow hidden
  
  /**
   * Fixes hero image height jump on mobiles
   * when the address bar disappears on
   * a downward scroll.
   */
  transition all 9999s ease
  
  /* Image */
  &-img
    &::after
      content ""
      display block
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      background-color #000
      animation fadein 2s
      opacity .4
      
    > img
      
      /**
       * Centres image center to viewport despite
       * an overflowing width, thus accommdates
       * 4:3 and other desktop screens.
       */
      transform translateX( calc( 50vw + -50% ) )
      
      min-height 100%
              
  /* Strap */ 
  &-strap
    @extend .l-CenterXY
    
    width calc( 100% - 2rem )
    max-width 35rem
    
    border-radius 2px

    +above( md )
      padding 3rem 2rem
    
    +below( md, orientation: landscape )
      max-width 100%
            
    &Content
      @extend .l-FlexRowWrap

      justify-content center

      text-align center
      color canvas

      &Byline
      &CTA
        margin-top 1rem
        
      &Title
        font-size font-md

        +above( md )
          font-size font-xl
          
      &Byline
        @extend .t-Byline
        
        font-weight 600
          
      &Meta
        margin-top 1.5rem
                
        &Author
          &::after
            content " | "
            padding 0 .5rem

        &Author
        &Date
          font-size font-xs
          text-transform uppercase
          opacity .66
          letter-spacing 0.125em
          
  &-arrow
    @extend .l-CenterX
    
    bottom 1rem
    
    color accent
    font-size font-xl
      
    &::before
      @extend .ion-ios-arrow-down:before


    
          
    
