.Icon
  @extend .l-MarginAuto
  
  max-width 18.5rem
  padding 1rem
  
  &--secondary
    > .Icon-text
      font-size font-xs !important
  
  &-img
    @extend .l-MarginAuto
    
    position relative

    width 7.5rem
    height 7.5rem
    
    padding 1rem
    
    background-color rgba( muted,.5 )
    border-radius 50%
    
    > Img
      @extend .l-CenterXY
      
      width 100%
      padding 2rem
      
  &-text
    @extend .l-MarginTop
    
    font-size 1rem
    text-align center