.Icon
  @extend .l-MarginAuto
  
  max-width 16rem
  
  &--secondary
    > .Icon-text
      font-size font-xs
  
  &-img
    @extend .l-MarginAuto
    
    position relative

    width 7.5rem
    height 7.5rem
    
    padding 1rem
    
    background-color rgba( muted,.5 )
    border-radius 50%
    box-shadow shadow-copy
    
    > Img
      @extend .l-CenterXY
      
      width 100%
      padding 2rem
      
  &-text
    @extend .l-MarginTop

    text-align center
    
    &Byline
      font-size inherit

      > button
        margin .5em auto 0