.Icon
  flex 1 0 16rem
  
  max-width 18.5rem
  padding 1rem
  
  &-img
    @extend .u-MarginAuto
    
    position relative

    width 7.5rem
    height 7.5rem
    
    padding 1rem
    
    background-color canvasOpaque
    border-radius 50%
    
    > Img
      @extend .u-CenterXY
      
      height 4rem
      
  &-text
    @extend .u-marginTop

    text-align center