.InlineIcon
  position relative
  display inline-block
  
  padding-right .5em

  &--calendar::before
    @extend .ion-md-calendar:before
  
  /* See "_partials/font-icons.styl" */
  @import "../_partials/font-icons"