.InlineIcon
  position relative
  display inline-block
  
  padding-right .5em
  
  /**
   * Class name ripped from Ioonicons.
   * This is because content editors refer to the Ionicons cheatsheet,
   * pasting class names in the respective content field.
   */
  &--ion-arrow-graph-up-right::before
    @extend .ion-arrow-graph-up-right:before