.LgQuote
  text-align center
  
  &-text
    margin-top 6rem

    color default
    
    font-family font-display
    font-size font-xl
    +above( md )
      font-size font-xxl

    font-weight 700
    
    &::before
      @extend .ion-quote:before
      
      color accent
      padding-right .5em

  &-footer
    +below( md )
      font-size font-xs
    
    &::before
      @extend .l-CenterX
      
      content ""
      position relative
      top 0
      
      padding-top .5rem
      margin-top .5rem
      
      display block
      width 6rem
      
      border-top 1px solid muted
      
    > img
      @extend .l-CenterX
      
      position absolute
      top 3rem
      +above( md )
        top 4rem
      
      width 6rem
      border-radius 50%
      
