.LgQuote
  text-align center
  
  &-text
    margin-top 5rem

    color default
    
    font-family font-display
    font-size font-xl
    
    +above( md )
      font-size font-xxl
    
    &::before
      @extend .ion-md-quote:before
      
      display block

      /* Flip on y-axis */
      transform scaleX( -1 )
      
      color accent

  &-footer
    +below( md )
      font-size font-xs
    
    &::before
      @extend .l-CenterX
      
      content ""
      position relative
      top 0
      
      padding-top .5rem
      margin-top .5rem
      
      display block
      width 6rem
      
      border-top 1px solid muted
      
    > img
      @extend .l-CenterX
      
      position absolute
      top 3rem
      +above( md )
        top 4rem
      
      width 6rem
      border-radius 50%
      
