.Nav
  position fixed
  top 0

  left 0

  width 100%
  height 4rem

  z-index 100
  
  transition ease all .2s
  
  /* Is scrolled */
  
  &.is-scrolled
    background-color brand
    
    box-shadow shadow-brand
    
    .Nav-logoImg
      +above( md )
        position relative
        height 2.5rem
        top 0

  /* Logo */
    
  &-logo
    @extend .l-CenterY
    
    left 1rem
    +above( md )
      left 2rem
    
    height 2.5rem
    
    &Img
      height 100%
      
      transition ease all .2s
      
      +above( md )
        position absolute
        height 4rem
        top 1rem
      +below( lg, orientation: landscape )
        height 2.5rem
        top 0

  /* Hamburger */
    
  &-hb
    @extend .l-CenterY

    right 1rem
    +above( md )
      right 2rem
    
    width 26px
    height 20px

    cursor pointer
    
    z-index 102
    
    &Text
      @extend .l-CenterY
      
      right 2.25rem
      text-transform uppercase
      color canvas

    > span
      bottom 50%

    > span
    > span::before
    > span::after
      position absolute
      content ""

      display block

      height 2px
      width 100%
      
      background-color canvas
      border-radius 1px
      
      transition all .1s ease-in-out
    
    > span::before
      top -.5rem
    > span::after
      bottom -.5rem
      
    &.is-active

      > span
        background-color transparent
          
        &::before
        &::after
          top 0

        &::before
          transform rotate( 45deg )
        &::after
          transform rotate( -45deg )
          
