.PanelHeader
  margin-bottom 2rem
  
  &--canvas
    > .PanelHeader-title
      color canvas

  &-title
  &-byline
    text-align center

  &-title
    color brand
    font-size font-lg
    
    +above( md )
      font-size font-xl