.PanelIcons
  @extend .u-flexRowWrap
  
  &-box
    flex 1
    padding 1rem
    
    &Img
      position relative
      
      margin 0 auto

      width 7.5rem
      height 7.5rem
      
      padding 1rem
      
      background-color canvasOpaque
      border-radius 50%
      
      > Img
        @extend .u-centerXY
        
        height 4rem
        
    &Content
      @extend .u-marginTop

      text-align center
  