.Panel
  @extend .u-Container
  @extend .u-FlexRowWrap
  
  /**
   * Flex ensures carousel centred as auto
   * margin not applied due to left/right -1rem
   * which accounts for additional 1rem padding between
   * carousel items. See below.
   */
  justify-content space-around 
  
  background-color canvas
  
  &--brand
    background-color brand
    color canvas
    
    .Panel-headerTitle
      color inherit
      
  &--contrast
    background-color contrast
    
  /* Header */
  &-header
    margin-bottom 2rem
    
    min-width 100%
    
    &Title
    &Byline
      text-align center

    &Title
      font-size font-lg
      color brand
      
      +above( md )
        font-size font-xl

  /* Shared */
  &-content
  &-carousel
    @extend .u-Container-content

  /* Content */
  &-content
    @extend .u-FlexRowWrap
    
    justify-content center
    
    /* Wide */
    &--wide
      @extend .u-Container-content--wide
    
    /* Narrow */
    &--narrow
      @extend .u-Container-content--narrow
      
  /* Carousel */
  &-carousel
    @extend .u-Container-content--wide
    
    margin 4rem -1rem 0
    
    &Item
      padding 1rem
      
      height 100%

    /* Slick */
    &ArrowPrev
    &ArrowNext
      @extend .u-CenterX

      top -2rem
      cursor pointer
      
      &::before
        font-size font-xl
        color accent
    
    &ArrowPrev
      &::before
        @extend .ion-arrow-right-c:before
        margin-right -2rem
    &ArrowNext
      &::before
        @extend .ion-arrow-left-c:before
        margin-left -2rem
      
  .slick-track
    display flex 

    .slick-slide
      display flex
      height auto

