.PanelIcons
  @extend .u-Panel
  @extend .u-Panel--brand
  
  &-content
    @extend .u-Panel-wide
    @extend .u-FlexRowWrap
    
    justify-content center
    
    &Box
      flex 1
      
      max-width 18.5rem
      padding 1rem
      
      &Img
        @extend .u-MarginAuto
        
        position relative

        width 7.5rem
        height 7.5rem
        
        padding 1rem
        
        background-color canvasOpaque
        border-radius 50%
        
        > Img
          @extend .u-CenterXY
          
          height 4rem
          
      &Text
        @extend .u-marginTop

        text-align center
  