.Panel
  @extend .l-Container
  
  position relative
  
  /**
   * Flex ensures carousel centred as auto
   * margin not applied due to left/right -1rem
   * which accounts for additional 1rem padding between
   * carousel items. See below.
   * Centering applied in .Panel-carousel, below.
   */
  @extend .l-FlexRowWrap
  
  justify-content center
  
  &--brand
    background-color brand
    color canvas
    
    .Panel-headerTitle
      color inherit
  
  &--base
    background-color canvas
    
    & + .Panel--base
      background-color contrast
  
  &--canvas
    background-color canvas
  
  &--contrast
    background-color contrast
  
  &--flow
    background-color canvas
    
    &:nth-child( 1n+2 )
      padding-top 4rem

      &::before
      &::after
        content ""
        position absolute
        width 50%
        height 1rem
        background-color inherit
        top -1rem
        
      &::before
        transform skew( -45deg ) translateX( .5rem )
        right 0
      &::after
        transform skew( 45deg ) translateX( -.5rem )
        left 0

    &:nth-of-type( even )
      background-color contrast
          
  /* Header */
  &-header
    margin-bottom 4rem
    
    min-width 100%
    
    &Title
    &Byline
      text-align center

    &Title
      font-size font-lg
      color brand
      
      +above( md )
        font-size font-xl

  /* Shared */
  &-content
  &-carousel
    @extend .l-Container-content

  /* Content */
  &-content
    @extend .l-FlexRowWrap
    
    /**
     * Ensures flex items centre when wrapping.
     */
    justify-content center
    
    width 100%

    /* Narrow */
    &--narrow
      @extend .l-Container-content--narrow
    
    /* Moderate  */
    &--moderate
      @extend .l-Container-content--moderate
    
    /* Wide */
    &--wide
      @extend .l-Container-content--wide
      
    &Item
      padding 0 1rem 2rem
      
      +above( lg )
        flex 1
      
  /* Carousel */
  &-carousel
    @extend .l-Container-content--wide
    
    animation fadeInFull 1s
    
    margin 1rem -1rem 0
    
    /**
     * When using Slick Carousel within a Flex container,
     * we need to specify a carousel width, in order
     * for Slick to calculate the dimensions for the carousel item (below),
     * which the flex container doesn't provide otherwise.
     * See: https://github.com/kenwheeler/slick/issues/2378.
     * Min width is used here to allow for addition negative margins,
     * which aren't accounted for when defining width 100%.
     */
    min-width 100%
    
    &Item
      padding 1rem
      
      /**
       * Need to set units as SLick doesn't play well
       * with percentages.
       */
      max-width 100vw
      
      cursor pointer
      
    &--gallery
      > .Panel-carouselItem
        max-height 100vh

    /* Slick */
    &ArrowPrev
    &ArrowNext
      @extend .l-CenterX

      top -1rem
      cursor pointer
      
      &::before
        font-size font-md
        color accent
    
    &ArrowPrev
      &::before
        @extend .ion-md-arrow-round-forward:before
        margin-right -2rem
    &ArrowNext
      &::before
        @extend .ion-md-arrow-round-back:before
        margin-left -2rem
      
  .slick-track
    display flex 

    .slick-slide
      display flex
      height auto

