.Panel
  @extend .l-Container
  
  position relative
  /**
   * Flex ensures carousel centred as auto
   * margin not applied due to left/right -1rem
   * which accounts for additional 1rem padding between
   * carousel items. See below.
   * Centering applied in .Panel-carousel, below.
   */
  @extend .l-FlexRowWrap
  
  justify-content center
    
  &--brand
    background-color brand
    color canvas
    
    .Panel-headerTitle
      color inherit
  
  &--canvas
    background-color canvas
  &--contrast
    background-color contrast
    
  /* Header */
  &-header
    margin-bottom 2rem
    
    min-width 100%
    
    &Title
    &Byline
      text-align center

    &Title
      font-size font-lg
      color brand
      
      +above( md )
        font-size font-xl

  /* Shared */
  &-content
  &-carousel
    @extend .l-Container-content

  /* Content */
  &-content
    @extend .l-FlexRowWrap
    
    justify-content center
    
    /* Narrow */
    &--narrow
      @extend .l-Container-content--narrow
    
    /* Moderate  */
    &--moderate
      @extend .l-Container-content--moderate
    
    /* Wide */
    &--wide
      @extend .l-Container-content--wide
    
      
  /* Carousel */
  &-carousel
    @extend .l-Container-content--wide
    
    margin 4rem -1rem 0
    
    /**
     * When using Slick Carousel within a Flex container,
     * we need to specify a carousel width, in order
     * for Slick to calculate the dimensions for the carousel item (below),
     * which the flex container doesn't provide otherwise.
     * See: https://github.com/kenwheeler/slick/issues/2378.
     * Min width is used here to allow for addition negative margins,
     * which aren't accounted for when defining width 100%.
     */
    min-width 100%
    
    &Item
      padding 1rem

      height 100%

    /* Slick */
    &ArrowPrev
    &ArrowNext
      @extend .l-CenterX

      top -2rem
      cursor pointer
      
      &::before
        font-size font-xl
        color accent
    
    &ArrowPrev
      &::before
        @extend .ion-arrow-right-c:before
        margin-right -2rem
    &ArrowNext
      &::before
        @extend .ion-arrow-left-c:before
        margin-left -2rem
      
  .slick-track
    display flex 

    .slick-slide
      display flex
      height auto

