.Post
  @extend .l-Container
  
  &-content
    @extend .l-Container-content
    @extend .l-Container-content--wide

    display flex
    flex-flow row wrap
    justify-content space-around
    
    &Body
    &Aside
    &Footer
      flex 0 0 100%
  
    &Body
    &Aside
      margin-bottom 2rem
      
    &Aside
    &Footer
      +above( xl )
        flex 1


    /* Aside */
    &Aside
      max-width 38rem

      +above( xl )
        order 1
        
    /* Footer */
    &Footer
      max-width 38rem

      +above( xl )
        order 3
        
      &Title
        @extend .l-MarginBottomFlow
        
        color brand
    
    /* Content */
    &Body
      max-width 38rem
      
      +above( xl )
        order 2    
        flex 5

        padding 0 2rem