.Row
  @extend .l-Row
  
  &:nth-child( 1n+2 )
    @extend .l-MarginTopX2
  
  &-main
    @extend .l-Row-main

  &-aside
    @extend .l-Row-aside
    
    align-self stretch
    
    margin-left auto
    margin-right auto
    
    color grey
    font-size font-xs
    
    &Item
      &:nth-last-of-type( 1n+2 )
        margin-bottom 2rem
        
    +above( lg )
      border-left 1px solid muted
      padding-left 2rem
    
    > h3
    > p
      text-align center

    > h3
      position relative
      font-size font-sm
      
      margin-top 3em
      padding-top 1rem
      
      &::before
        @extend .l-CenterX
        
        top 0

        content ""
        display block
        
        border-top 4px solid accent
        
        width 4rem
      
      +above( lg )
        &:first-child
          margin-top 0

    > p
      margin-bottom 2rem
      
      font-weight 600