.SmQuote
  @extend .l-FlexRowWrap
  @extend .l-PosRel
  
  /* Accommodates absolute pos photo */
  padding-left 4rem
    
  > p
    font-family font-display
    font-size 1rem
    
    &::before
      @extend .ion-md-quote:before
      
      /* Flip on y-axis */
      transform scaleX( -1 )
      
      color accent
      padding-left .5em
  
  
  &-footer
    width 100%
    
    > img
      @extend .l-BorderRadius50pc
      
      position absolute
      top .25rem
      left 0
      width 3rem
      
    &About
      font-size font-xs
      
      > span:first-child
        display block
        margin-top .5em
        font-weight 700