/* Shared
========================================================================== */

.Snippet-contentHeaderTitle
.Snippet-contentHeaderMeta > span
.Snippet-contentByline
  padding 1rem


/* Main
========================================================================== */

.Snippet
  @extend .l-BorderRadius2px
  @extend .l-OverflowHidden

  display block
    
  &:hover
    img
      transform scale( 1.1 )

  &-content
    &Header
      position relative
      color canvas
      
      &Title
        position absolute
        bottom 0
        
        z-index 1

      &Meta
        @extend .l-OverflowHidden
        
        &Img
          background-color copy
          
          > img
            width 100%
  
            opacity .4
            transition ease-in-out all .4s
            
            /* Fixes 1px transition jump in chrome */
            -webkit-backface-visibility hidden
            -webkit-transform translateZ(0) scale(1.0, 1.0)

            
        > span
          position absolute
          top 0
          right 0
          
          font-size font-xs
          text-transform uppercase
          opacity .5
    
    &Byline
      font-size font-xs
      color copy
      background-color muted
        