.Social
  @extend .l-PosRel
  @extend .l-FlexRowWrap

  align-items center

  &-title
    text-transform lowercase
    font-variant small-caps
    margin-right .5rem
    padding-right .5rem
    border-right 1px solid muted

  &-icon
    position relative
    display inline-block

    margin-right .5rem

    width 2rem
    height 2rem

    border 2px solid accent
    border-radius 50%

    color accent

    cursor pointer

    transition all .2s ease

    &:hover
      color brand
      border 2px solid brand

    &::before
      @extend .l-CenterXY

      color inherit

    &--copy::before
      @extend .ion-md-copy:before
    &--email::before
      @extend .ion-ios-mail:before
    &--facebook::before
      @extend .ion-logo-facebook:before
    &--linkedin::before
      @extend .ion-logo-linkedin:before
    &--twitter::before
      @extend .ion-logo-twitter:before
    &--instagram::before
      @extend .ion-logo-instagram:before
    &--whatsapp
      +above( md )
        display none
      &::before
        @extend .ion-logo-whatsapp:before
