/* Shared
========================================================================== */

.Table-head
.Table-body
  &Cell
    padding 1rem
    
    +above( md )
      padding 1rem 2rem
        
/* Main
========================================================================== */

.Table
  max-width 100%
  overflow-x auto
    
  border-spacing 0
  border-collapse collapse
  
  background-color contrast
  
  table-layout fixed

  &-column
    &:nth-of-type( 1n+2 )
      border-left 1px solid brand
  
  &-head
    > tr
      border-bottom 2px solid muted
      
  &-body
    &Cell
      // width 20rem
      white-space nowrap

    > tr
      &:nth-of-type( 1n+2 )
        border-top 1px solid muted