/* Shared
========================================================================== */

.Testimonial-quoteText
.Testimonial-quoteFooterBiog
  padding 1rem
  
.Testimonial-quoteFooterPhotoCaption
.Testimonial-quoteFooterBiog
  padding .5rem 1rem


/* Main
========================================================================== */

.Testimonial
  @extend .l-MarginAuto
  @extend .l-BorderRadius2px
  @extend .l-OverflowHidden

  width 100%
  max-width 26rem

  background-color canvas
  box-shadow shadow-copy
    
  &-quote
    @extend .l-FlexRowWrap
    
    &Text
    &Footer
      flex 0 100%
    
    &Text
      order 2
      font-family font-display
      
      &::before
        @extend .ion-quote:before
        
        float left
        
        padding-right .75rem        
        
        font-size 3rem
        color accent
    
    &Footer
      @extend .l-FlexRowWrap
      
      order 1
      
      &Photo
      &Biog
        flex 0 100%
        
      &Photo
        position relative
        
        &Caption
          position absolute
          bottom 0
          
          width 100%
          
          font-size .75rem

          background-color copyOpaque 
          color canvas
        
        > img
          width 100%
          display block
          
      &Biog
        background-color muted

        font-size .75rem