/* Shared
========================================================================== */

.Testimonial-quoteText
.Testimonial-quoteFooterBiog
  padding .5rem
  +above( md )
    padding 1rem

/* Main
========================================================================== */

.Testimonial
  width 100%
  max-width 26rem

  background-color canvas
  border-radius 2px
  box-shadow shadow-copy
  
  &-quote
    @extend .u-FlexRowWrap
    
    &Text
    &Footer
      flex 0 100%
    
    &Text
      order 2
      font-family font-display
      
      &::before
        @extend .ion-quote:before
        
        float left
        
        margin-bottom -.5em
        padding-right .75rem        
        
        font-size 3rem
        color accent
    
    &Footer
      @extend .u-FlexRowWrap
      
      order 1
      
      &Photo
      &Biog
        flex 0 100%
        
      &Photo
        position relative
        
        &Caption
          position absolute
          bottom 0
          
          width 100%
          padding .5rem
          
          font-size .75rem

          background-color copyOpaque 
          color canvas
        
        > img
          width 100%
          display block
          
      &Biog
        background-color muted
        padding .5rem

        font-size .75rem