header.header
  .banner
    img.banner__img.banner__img--header

  h1.header__title.header__title--page.icon-text( class="icon-text--#{"loc_title_icon"}" )= "loc_title"
  p.header__byline= "loc_title_byline"
  span.header__scroll.icon-block.icon-block--arrow-down