nav.Nav
  
  //-- Logo --
  a.Nav-logo( href="/" )
    img.Nav-logoImg( src= contentful.global[0].logo.fields.file.url,
                     alt= contentful.global[0].logo.fields.description )
  
  //-- Hamburger --
  .Nav-hb
    span
    .Nav-hbText Menu

  //-- Off canvas --
  include ./offcanvas