nav.Nav
  
  //-- Logo --
  a.Nav-logo( href="/" )
    img.Nav-logoImg( src= contentful.global[0].logo.fields.file.url,
                     alt= contentful.global[0].logo.fields.description )
  
  //-- Hamburger --
  .Nav-hb
    span
    .Nav-hbText Menu

  //-- Off canvas --
  .Nav-offCanvas

    ul.Nav-offCanvasMenu
    
      each $page in contentful.navigation[0].pages
        li
          .Nav-offCanvasMenuCat.is-closed
            a( href= $siteURL + "/" + $page.fields.slug )= $page.fields.title
            span.Nav-offCanvasMenuCatToggle
          ul.Nav-offCanvasMenuSubCats
            each $section in $page.fields.sections
              li
                a.Nav-offCanvasMenuSubCatsLink( href= $siteURL + "/" +
                   $page.fields.slug + "/" + "#" +
                   $section.fields.slug )= $section.fields.title
    
