.OffCanvas

  .OffCanvas-inner
    ul
    
      each $page in contentful.navigation[0].pages
        
        li
          
          .OffCanvas-cat.is-closed
            
            a( href= $siteURL + "/" +
                     $page.fields.slug )= $page.fields.title
            
            span
          
          ul
            
            each $section in $page.fields.sections
              li

                a.OffCanvas-item( href= $siteURL + "/" +
                                  $page.fields.slug + "/" + "#" +
                                  $section.fields.slug )= $section.fields.title

    .OffCanvas-section

      +social( "Follow", null, null )