mixin block( $fields )
  section.Block

    //-- Header --
    header.Block-header

      .Block-headerContent

        h2= $fields.title
        
        //-- Header text --
        .Block-headerContentSummary
          p= $fields.introText

          .Block-headerContentSummaryCTAs

            //--
              - Block expand toggle:
              - Reveals .Block-expand below.
              - Removes .is-hidden.
              --
            .Block-headerContentSummaryCTAsToggle
              +button( "secondary",
                       "md",
                       "showMore",
                       "Show more" )
        
        //--
          - Header aside:
          - Yield block for assets/ content specified
          - in Contentful - eg. quote, icon etc.
          --
        aside.Block-headerContentAside
          
          //-- Quote --
          if $fields.introAside.sys.contentType.sys.id === "alumni"
            
            +smQuote( $fields.introAside.fields )

    //--
      - Expandable content:
      - Opened by button in header text above.
      --
    .Block-expand.is-hidden

      //-- Content --
      section.Block-expandContent
        
        +panel( null,
                "moderate",
                $fields,
                "content",
                null )

          //-- Panel content --
          each $panel in $fields.panels
            if $panel.sys.contentType.sys.id === "panelContent"              
              
              //-- Content --
              +row( $panel.fields )

      //-- Footer --
      footer.Block-expandFooter
