mixin block( $fields )
  section.Block

    //-- Header --
    header.Block-header

      .Block-headerContent

        h2= $fields.title
        
        //-- Header text --
        .Block-headerContentSummary
          p= $fields.introText

          .Block-headerContentSummaryCTAs

            //--
              - Block expand toggle:
              - Reveals .Block-expand below.
              - Removes .is-hidden.
              --
            .Block-headerContentSummaryCTAsToggle
              +button( "secondary",
                       "md",
                       "showMore",
                       "Show more" )
        
        //--
          - Header aside:
          - Yield block for assets/ content specified
          - in Contentful - eg. quote, icon etc.
          --
        aside.Block-headerContentAside
          
          //-- Quote --
          if $fields.introAside.sys.contentType.sys.id === "alumni"
            
            +smQuote( $fields.introAside.fields )

    //--
      - Expandable content:
      - Opened by button in header text above.
      --
    .Block-expand.is-hidden

      //-- Content --
      section.Block-expandContent
        
        each $panel in $fields.panels
      
          if $panel.sys.contentType.sys.id === "panelContent"
            +panel( null,
                    "wide",
                    $panel.fields,
                    "content",
                    null )
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quis culpa eos? Ad architecto numquam quis quam autem, corporis recusandae praesentium ut voluptatem nihil doloribus vel deleniti magni sunt minima, neque quaerat soluta aspernatur sit fugit itaque, odio dolorum. Pariatur sed sint accusamus quisquam, rem sequi voluptatibus, asperiores placeat mollitia.


      //-- Footer --
      footer.Block-expandFooter
