mixin block( $fields )
  section.Block

    //-- Header --
    header.Block-header

      .Block-headerContent
        //-- Header text --
        section.Block-headerContentMain
          h2= $fields.title
          p= $fields.introText
        
        //--
          - Header aside:
          - Yield block for assets/ content specified
          - in Contentful - eg. quote, icon etc.
          --
        aside.Block-headerContentAside
          
          //-- Quote --
          if $fields.introAside.sys.contentType.sys.id === "alumni"
            
            +smQuote( $fields.introAside.fields )
    
    //--
      - Expandable content:
      - Opened by button in header text above.
      --
    .Block-expand

      //-- Content --
      section.Block-expandContent
        block blockContent

      //-- Footer --
      footer.Block-expandFooter
