mixin block( $fields )
  section.Block( class= $fields.heroLandscape && $fields.heroPortrait ?
                        "Block--hero" :
                        null,
                 id= $fields.slug )

    if $fields.heroLandscape && $fields.heroPortrait

      +heroImg( "Block-heroImg", $fields )

    //-- Header --
    header.Block-header

      .Block-headerContent( class= $fields.heroLandscape && $fields.heroPortrait ?
                                   "Block-headerContent--light" :
                                   null )

        h2= $fields.title
        
        //-- Header text --
        .Block-headerContentSummary
          p= $fields.introText

          .Block-headerContentSummaryCTAs

            //--
              - Block expand toggle:
              - Reveals .Block-expand below.
              - Removes .is-hidden.
              --
            .Block-headerContentSummaryCTAsToggle
              +button( "secondary",
                       "md",
                       "showMore",
                       "Show more" )
        
        //--
          - Header aside:
          - Yield block for assets/ content specified
          - in Contentful - eg. quote, icon etc.
          --
        if $fields.introAside

          aside.Block-headerContentAside
            
            //-- Small quote --            
            if $fields.introAside.sys.contentType.sys.id === "alumni"
              +smQuote( $fields.introAside.fields )
            
            //-- Programme dates --
            if $fields.introAside.sys.contentType.sys.id === "dates"
  
              h3
                span.InlineIcon.InlineIcon--calendar
                span= $fields.introAsideTitle

              +dates( $fields.introAside.fields )

              +button( "primary",
                       "sm",
                       "apply",
                       "Apply now" )

    //--
      - Expandable content:
      - Opened by button in header text above.
      --
    .Block-expand.is-hidden

      //-- Content --
      section.Block-expandContent
        
        each $panel in $fields.panels

          +panel( $panel )

      //-- Footer --
      footer.Block-expandFooter
        .Block-expandFooterContent

          +share( "Share",
                  $fields.shareText,
                  $fields.slug )