mixin block( $fields )
  section.Block

    //-- Header --
    header.Block-header

      //-- Header text --
      section.Block-headerText
        h2= $fields.title
        p= $fields.introText
      
      //--
        - Header aside:
        - Yield block for assets/ content specified
        - in Contentful - eg. quote, icon etc.
        --
      aside.Block-headerAside
        block blockHeaderAside
    
    //--
      - Expandable content:
      - Opened by button in header text above.
      --
    .Block-expand

      //-- Content --
      section.Block-expandContent
        block blockContent

      //-- Footer --
      footer.Block-expandFooter
