- var $semesters = [ "Spring", "Summer", "Autumn" ]

mixin datesTable( $fields )

  .OFx
    table.Table
      
      colgroup
        col.Table-column

        each $year in $fields.years
          col.Table-column

      thead.Table-head
        tr
          th
            .Table-headCell Semester

          each $year in $fields.years
            th
              .Table-headCell= $year

      tbody.Table-body

        each $semester in $semesters       

          tr
            th
              .Table-bodyCell.Table-bodyCell--header= $semester

            each $date in $fields.dates
              
              if $date.fields.title.indexOf( $semester ) > -1
                td
                  .Table-bodyCell.Table-bodyCell--main
                    +dates( $date.fields, true )