mixin datesTable( $fields )
  .OFx
    table.Table
      
      colgroup
        col.Table-column

        each $year in $fields.years
          col.Table-column

      thead.Table-head
        tr
          th
            .Table-headCell Semester

          each $year in $fields.years
            th
              .Table-headCell= $year

      tbody.Table-body

        //-- Spring --
        tr
          th
            .Table-bodyCell.Table-bodyCell--header Spring

          each $date in $fields.dates
            
            if $date.fields.title.indexOf( "Spring" ) > -1
              td
                .Table-bodyCell.Table-bodyCell--main
                  +dates( $date.fields )
        
        //-- Summer --
        tr
          th
            .Table-bodyCell.Table-bodyCell--header Summer

          each $date in $fields.dates
            
            if $date.fields.title.indexOf( "Summer" ) > -1
              td
                .Table-bodyCell.Table-bodyCell--main
                  +dates( $date.fields )
        
        //-- Autumn --
        tr
          th
            .Table-bodyCell.Table-bodyCell--header Autumn

          each $date in $fields.dates
            
            if $date.fields.title.indexOf( "Autumn" ) > -1
              td
                .Table-bodyCell.Table-bodyCell--main
                  +dates( $date.fields )
