mixin heroImg( $class, $fields )

  picture( class= $class != null ?
                  $class :
                  null )
    
    //-- Landscape --
    source( media="(orientation: landscape)",
            sizes="100vw",
            srcset= $fields.heroLandscape.fields.file.url + "?w=640 640w, " +
                    $fields.heroLandscape.fields.file.url + "?w=854 854w, " +
                    $fields.heroLandscape.fields.file.url + "?w=1280 1280w, " +
                    $fields.heroLandscape.fields.file.url + "?w=1920 1920w, " +
                    $fields.heroLandscape.fields.file.url + "?w=2560 2560w, " +
                    $fields.heroLandscape.fields.file.url + "?w=3840 3840w",
            alt= $fields.heroLandscape.fields.file.description )
    
    //-- Portrait --
    source( media="(orientation: portrait)",
            sizes="100vw",
            srcset= $fields.heroPortrait.fields.file.url + "?w=360 360w, " +
                    $fields.heroPortrait.fields.file.url + "?w=480 480w, " +
                    $fields.heroPortrait.fields.file.url + "?w=720 720w, " +
                    $fields.heroPortrait.fields.file.url + "?w=1080 1080w, " +
                    $fields.heroPortrait.fields.file.url + "?w=1440 1440w",
            alt= $fields.heroLandscape.fields.file.description )
    
    //-- Fallback --
    img( srcset= $fields.heroLandscape.fields.file.url,
         alt= $fields.heroLandscape.fields.file.description )