mixin icon( $fields )
  .Icon
    .Icon-img
      img( src= $fields.image.fields.file.url
           alt= $fields.image.fields.description )
    .Icon-text
      h3.Icon-textTitle= $fields.title
      p.Icon-textByline= $fields.byline