mixin lgQuote( $fields )
  blockquote.Quote
    p.Quote-text= $fields.shortQuote
    footer.Quote-footer
      p= $fields.name
      p= $fields.university
      p= $fields.semester
      img( src= $fields.photo.fields.file.url + "?fit=crop&w=400&h=400&f=center",
           alt= $fields.photo.fields.description )
