mixin lgQuote( $fields )
  blockquote.LgQuote
    p.LgQuote-text= $fields.shortQuote
    footer.LgQuote-footer
      p= $fields.name
      p= $fields.university
      p= $fields.semester
      img( src= $fields.photo.fields.file.url + "?fit=crop&w=400&h=400&f=center",
           alt= $fields.photo.fields.description )
