//--
  - Panel mixin:
  - vars = background colour, width and fields.
  - The fields variable is used purely to pass
  - JSON data into the mixin, since mixins are declared
  - in config.jade, ie. before Contentful's entry fields are declared.
  --
mixin panel( $section, $bgc )
  
  .Panel( class= "Panel--" + $bgc )

    //--
      - Header:
      - Include header only if the panel contains
      - a title, title icon and byline.
      --
    if ( $section.fields.title && $section.fields.titleIcon && $section.fields.byline ) != null
      header.Panel-header

        h2.Panel-headerTitle
          span.InlineIcon( class= "InlineIcon--" + $section.fields.titleIcon )
          span= $section.fields.title
        
        p.Panel-headerByline= $section.fields.byline
    
    //-- Blog feed --
    if $section.sys.contentType.sys.id === "panelPosts"
      .Panel-content.Panel-content--narrow
        each $post in $section.fields.posts
          +summary( $post.fields )

    //-- Content --
    if $section.sys.contentType.sys.id === "panelContent"
      .Panel-content.Panel-content--moderate
        +row( $section.fields )

    //-- Dates --
    if $section.sys.contentType.sys.id === "panelDates"
      .Panel-content.Panel-content--moderate
        +datesTable( $section.fields )

    //-- Icons --
    if $section.sys.contentType.sys.id === "panelIcons"
      .Panel-content.Panel-content--wide
        each $icon in $section.fields.icons
          .Panel-contentItem
            +icon( $icon.fields, null )

    //-- Gallery --
    if $section.sys.contentType.sys.id === "panelPhotos"
      .Panel-carousel.Panel-carousel--gallery
        each $photo in $section.fields.photos
          .Panel-carouselItem
            +photo( $photo.fields )

    //-- Profiles --
    if $section.sys.contentType.sys.id === "panelProfiles"
      .Panel-content.Panel-content--moderate
        
        if $section.fields.body
          +row( $section.fields )
        
        each $profile in $section.fields.profiles
          +profile( $profile.fields )

    //-- Quote --
    if $section.sys.contentType.sys.id === "panelQuote"
      .Panel-content.Panel-content--narrow
        +lgQuote( $section.fields.alumnus.fields )

    //-- Testimonials --
    if $section.sys.contentType.sys.id === "panelTestimonials"
      .Panel-carousel.Panel-carousel--3
        each $testimonial in $section.fields.alumni
          .Panel-carouselItem
            +testimonial( $testimonial.fields )

    //- //-- Call-to-action --
    //- if $section.fields.cta && $section.fields.ctaURL

    //-   //-- Link to blog --
    //-   a.More( href= "/" + $section.fields.ctaURL,
    //-           title= _str.capitalize( $section.fields.ctaURL ).replace( "-", " " ) )= $section.fields.cta