mixin panelIcons( $headerFields, $icons )
  .PanelIcons
    
    //--
      - Block for panel header mixin.
      - Nested mixin entry fields must derive from the parent mixin,
      - hence the $headerFields variable, which is simply used to
      - set variables for nested fields. 
      --
    block panelHeader

    .PanelIcons-content
      
      //-- Pass entry loop into mixin --
      each $icon in $icons
        .PanelIcons-contentBox
          .PanelIcons-contentBoxImg
            img( src= $icon.fields.image.fields.file.url,
                 alt= $icon.fields.image.fields.description )
          .PanelIcons-contentBoxText
            h3.PanelIcons-contentBoxTextTitle= $icon.fields.title
            p.PanelIcons-contentBoxTextByline= $icon.fields.description