mixin panelHeader( $icon, $title, $byline, $bgDark )
  header.PanelHeader( class= $bgDark === true ? "PanelHeader--canvas" : nul )
    h2.PanelHeader-title
      span.InlineIcon( class= "InlineIcon--" + $icon )
      span= $title
    p.PanelHeader-byline= $byline