mixin panelQuote( $text, $name, $university, $semester, $img, $imgAlt )
  section.PanelQuote
    blockquote.PanelQuote-content
      p.PanelQuote-contentText= $text
      footer.PanelQuote-contentFooter
        p= $name
        p= $university
        p= $semester
        img( src= $img + "?fit=crop&w=400&h=400&f=center",
             alt= $imgAlt )

