//--
  - Panel mixin:
  - vars = background colour, width and fields.
  - The fields variable is used purely to pass
  - JSON data into the mixin, since mixins are declared
  - in config.jade, ie. before Contentful's entry fields are declared.
  --
mixin panel( $bgColour, $flow, $width, $fields, $contentType, $carouselArray )
  
  .Panel( class= $bgColour != null ? "Panel--" + $bgColour : null,
          class= $flow != null ? "Panel--" + $flow : null )

    //--
      - Include header only if the panel contains
      - a title, title icon and byline.
      --
    if $fields.title && $fields.titleIcon && $fields.byline != null
      header.Panel-header
        h2.Panel-headerTitle
          span.InlineIcon( class= "InlineIcon--" + $fields.titleIcon )
          span= $fields.title
        p.Panel-headerByline= $fields.byline
    
    //-- Content --
    if $contentType === "content"
      .Panel-content( class= "Panel-content--" + $width )
        block

        if $fields.cta && $fields.ctaURL

          //-- Link to blog --
          a.More( href= "/" + $fields.ctaURL,
                  title= _str.capitalize( $fields.ctaURL ).replace( "-", " " ) )= $fields.cta
    
    //-- Carousel --
    if ( $contentType === "carousel" ) && ( $carouselArray != null )
      .Panel-carousel
        each $item in $carouselArray
          .Panel-carouselItem
            block carouselItems

        if $fields.cta && $fields.ctaURL

          //-- Link to blog --
          a.More( href= "/" + $fields.ctaURL,
                  title= _str.capitalize( $fields.ctaURL ).replace( "-", " " ) )= $fields.cta


