mixin quote( $text, $name, $university, $semester, $img, $imgAlt )
  .Quote
    blockquote.Quote-content
      p.Quote-contentText= $text
      footer.Quote-contentFooter
        p= $name
        p= $university
        p= $semester
        img( src= $img, alt= $imgAlt )

