mixin row( $fields )
  .Row( class= $fields.reverseStack === true ?
               "Row--reverseStack" :
               null )
    
    //-- Main --
    section.Row-main.Copy
      
      != markdown( $fields.body )

    //-- Aside --
    if $fields.asideContent || $fields.asideTestimonial
      aside.Row-aside

        if $fields.asideTestimonial
          
          //-- Allows testimonial without title/ byline --
          if $fields.asideTestimonialTitle && $fields.asideTestimonialByline
            h3
              span.InlineIcon.InlineIcon--ion-md-chatboxes
              span= $fields.asideTestimonialTitle
            p= $fields.asideTestimonialByline

          .Row-asideItem
            +smQuote( $fields.asideTestimonial.fields )

        if $fields.asideTitle && $fields.asideTitleIcon && $fields.asideByline
          h3
            span.InlineIcon( class= "InlineIcon--" + $fields.asideTitleIcon )
            span= $fields.asideTitle
          p= $fields.asideByline
        
        if $fields.asideContent
          each $aside in $fields.asideContent
            .Row-asideItem        
              if $aside.sys.contentType.sys.id === "icons"
                +icon( $aside.fields, "secondary" )