mixin share( $title, $text, $anchor )
  .Share
    .Share-title= $title

    //--
      - Twitter:
      - Share text and entry URL, but only append with
      - and anchor ID if one is provided (eg. for page blocks).
      --
    a.Share-icon.Share-icon--twitter( href= "http://twitter.com/intent/tweet?text=" +
                                            encodeURIComponent( $text ) + "&" +
                                            "url=" + encodeURIComponent( $siteURL ) +
                                            encodeURIComponent( entry._url.replace( ".html", "" ) ) + "/" +
                                            ( $anchor != null ? "%23" + $anchor : null ) )

    a.Share-icon.Share-icon--facebook( href= "https://www.facebook.com/sharer/sharer.php?u=" +
                                             encodeURIComponent( $siteURL ) +
                                             encodeURIComponent( entry._url.replace( ".html", "" ) ) + "/" +
                                             ( $anchor != null ? "%23" + $anchor : null ) )

    a.Share-icon.Share-icon--whatsapp( href= "whatsapp://send?text=" +
                                             encodeURIComponent( $siteURL ) +
                                             encodeURIComponent( entry._url.replace( ".html", "" ) ) + "/" +
                                             ( $anchor != null ? "%23" + $anchor : null ),
                                      data-action="share/whatsapp/share" )

    span.Share-icon.Share-icon--copy.js-Copy( data-clipboard-text= $siteURL +
                                                                   entry._url.replace( ".html", "" ) + "/" +
                                                                   ( $anchor != null ? "#" + $anchor : null ) )