mixin testimonial( $quote, $name, $university, $semester, $img, $imgAlt, $biog )
  section.Testimonial
    blockquote.Testimonial-quote
      .Testimonial-quoteText
        != markdown( $quote )
      footer.Testimonial-quoteFooter
        .Testimonial-quoteFooterPhoto
          .Testimonial-quoteFooterPhotoCaption
            h3= $name
            p= $university + ", " + $semester
          img( src= $img,
               alt= $imgAlt )
        .Testimonial-quoteFooterBiog
          h4.Testimonial-quoteFooterBiogTitle= contentful.contentVars[0].testimonialsBiogTitle
          p.Testimonial-quoteFooterBiogText= $biog