mixin testimonial( $fields )
  section.Testimonial
    blockquote.Testimonial-quote
      .Testimonial-quoteText
        != markdown( $fields.longQuote )
      footer.Testimonial-quoteFooter
        .Testimonial-quoteFooterPhoto
          .Testimonial-quoteFooterPhotoCaption
            h3= $fields.name
            p= $fields.university + ", " + $fields.semester
          img( src= $fields.photo.fields.file.url,
               alt= $fields.photo.fields.description )
        .Testimonial-quoteFooterBiog
          h4.Testimonial-quoteFooterBiogTitle= contentful.contentVars[0].testimonialsBiogTitle
          p.Testimonial-quoteFooterBiogText= $fields.biog
