//--
  - Global variables and defaults
  ==================================================

- var $siteURL                = "https://www.hansardscholars.uk"
- var $siteTitle              = "Hansard Society Scholars"

//--
  - Contentful:
  - EG. Entry IDs etc
  ==================================================


//--
  - Mixins
  ==================================================

