//--
  - Global variables and defaults
  ==================================================

- var $siteURL                = "https://www.hansardscholars.uk"
- var $siteTitle              = "Hansard Society Scholars"

//--
  - Breakpoints:
  - 'em' should be appended when using.
  - This is to allow numeric manipulation.
  - heading-one
  ==================================================

- var $screenLg = 64 // ems
- var $screenMd = 50
- var $screenSm = 30

//--
  - Mixins
  ==================================================

include ../_mixins/author
include ../_mixins/button
include ../_mixins/contact
include ../_mixins/dates
include ../_mixins/hero-image
include ../_mixins/icon
include ../_mixins/lg-quote
include ../_mixins/photo
include ../_mixins/profile
include ../_mixins/share
include ../_mixins/sm-quote
include ../_mixins/snippet
include ../_mixins/summary
include ../_mixins/testimonial
include ../_mixins/tooltip

include ../_mixins/dates-table

//--
  - 'Container' mixins must be defined in
  - this order: blocks can contain panels,
  - which can contain rows. These can all in
  - turn contain the above mixins.
  --
include ../_mixins/row
include ../_mixins/panel
include ../_mixins/block

//--
  - HTML variables
  ==================================================

- var $html_ApplyBtnMd = "<button class='Btn Btn--primary Btn--md'><i class='Btn-action Btn-action--apply'></i><span class='Btn-text'>Apply now</span></button>"










