//--
  - Global variables and defaults
  ==================================================

- var $siteURL                = "https://www.hansardscholars.uk"
- var $siteTitle              = "Hansard Society Scholars"


//--
  - Breakpoints:
  - 'em' should be appended when using.
  - This is to allow numeric manipulation.
  - heading-one
  ==================================================

- var $screenLg = 64 // ems
- var $screenMd = 50
- var $screenSm = 30


//--
  - Contentful:
  - EG. Entry IDs etc
  ==================================================


//--
  - Mixins
  ==================================================

include ../_mixins/panel-quote
include ../_mixins/panel-icons