//--
  - Global variables and defaults
  ==================================================

- var $siteURL                = "https://www.hansardscholars.uk"
- var $siteTitle              = "Hansard Society Scholars"

//--
  - Breakpoints:
  - 'em' should be appended when using.
  - This is to allow numeric manipulation.
  - heading-one
  ==================================================

- var $screenLg = 64 // ems
- var $screenMd = 50
- var $screenSm = 30


//--
  - Contentful:
  - EG. Entry IDs etc
  ==================================================


//--
  - Mixins
  ==================================================

include ../_mixins/author
include ../_mixins/contact
include ../_mixins/icon
include ../_mixins/lg-quote
include ../_mixins/panel
include ../_mixins/block
include ../_mixins/snippet
include ../_mixins/summary
include ../_mixins/testimonial